*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Navbar */
  .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
  }
  
  .navbar ul{
    display: flex;
    list-style:none;
    margin: 20px 0px;
  }
  
  .navbar ul li{
    font-family: century;
    font-size: 20px;
    font-weight: bold;
  }
  
  .navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
  }
  
  .navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
  }

  h1{
    font-size: 36px;
    font-family: gill sans;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    color:cornflowerblue;
  }

  .container p{
    font-size: 20px;
    font-family: times new roman;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .content{
    margin-left: 15px;
    margin-right: 15px;
    font-family: century;
    
  }

  .content-1{
    margin-bottom: 20px;
  }

  .content-2{
    margin-bottom: 20px;
  }

  .content-3{
    margin-bottom: 20px;
  }

  .content-4{
    margin-bottom: 20px;
  }

  .content-5{
    margin-bottom: 20px;
  }

  .content p{
    margin-bottom: 10px;
    margin-top: 8px;
  }